
@import 'https://fonts.googleapis.com/css?family=Indie+Flower|Lobster+Two|Poppins|Raleway:300,300i';
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    background: #F1F3FA;
}

/*-----------------*/


/*--------------*/

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.background-login{
    background-image: url('/storage/img/Mahameru8.JPG');
}
.background-login > div{
    padding-top: 120px;
}
.supreme-1{
  width: 1%;
}
.raleway-italic{
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    font-weight: 400;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.navbar-default{
  opacity: 1;
  background-image: linear-gradient(to bottom,#333 0,#333 100%);
}

.navbar-default .navbar-nav>li>a {
    color: #e8e8e8;
}

.nice-padding{
  padding: 20px;
  background-color: #333;
    color: #ffffff;
}

.footer-brand {
    float:none;
    height: 60px;
    width: 120px;
    padding: 8px 5px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand-1{
    /*float: left;*/
    height: 60px;
    width: 120px;
    padding: 8px 5px;
    font-size: 18px;
    line-height: 20px;
    margin-left: 40px;
}
.footer-img{
    width: 120px;
    height: 60px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.relative{
  position: relative;
}

.tryout-attempt{
    font-size: 20px;
}

/*navba-profile-right*/
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.icon-size
{
    font-size: 87px;
}

.img-size{
    max-width: 75px;
    max-height: 91px;
}

.dropdown-profile{
  opacity: 1;
}

.navbar-default .navbar-nav>.open>a{
  color: #e8e8e8;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #5b9bd1;
}
.navbar-default .navbar-nav>li>a:focus{
    color: #5b9bd1;
}
/***
Side-bar use profile
**/

/*footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    /* Set the fixed height of the footer here */
    height: 140px;
    background-color: #333;
    color: #ffffff;
    /*background-color: #f5f5f5;*/
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  /*min-height: 510px;*/
  margin: 5px 0;
  border: 1px solid #E6E9ED;
}

.profile-font{
  font-family: 'Raleway', sans-serif;
    font-size: 20px;
}




/*blockquote*/

blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    
    overflow: hidden;
    padding-top: -100px;
    border-radius: 17px;
    /*background-color: #929396;*/
    background-image: linear-gradient(to bottom,#333 0,#333 100%);
    margin-top: 0;
    color:white;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    font-family: 'Lobster Two', cursive;
    
}

.quotation-mark{
    margin-top: -10px;
    font-weight: bold;
    font-size:50px;
    color:white;

    
}

.quote-text{
    font-size: 22px;
    margin-top: -40px;
    text-align: center;
    font-style: italic;
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
}
.w1dget-head{
  padding-bottom: 10px;
  /*height:32px;*/
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff;
  max-height: 202px;
}
.widget-tengah{
    text-align:center;font-size: 90px;color: black;font-family: 'Lobster Two', cursive;
}

.gly{
  vertical-align: middle;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #929396;
    padding-top: 10px;
    height: 39px;

}

.content-buttons {
  text-align: center;
  margin-top: 10px;
}

.edit-profile-buttons{
  text-align: center;
    margin-top: 20px;
}

.w-title{
  font-size: 20px
}
.marpad-nice{
    /*margin-top: 10px;*/
    padding-top: 10px;
}
.marpad-widget{
    margin-top: 50px;
}
.border-widget{
    border-left: 1px solid #929396;
    min-height: 40px;
    padding: 10px 0;
}
.border-widget span{
    font-weight: 600;
    margin-top: 10px;
}
.border-garis{
    border-bottom: 1px solid #929396;
}
.no-marpad{
  margin: 1px;
  padding: 1px;
}
.no-marpad-1{
  /*padding-bottom: 3px;*/
    padding-top: 7px;
    margin: auto 0;
}
.no-marpad-2{
  min-height: 45px;
}

.no-marpad-3{
  height: 150px;
  padding: 5px;
}
.widget-kotak{
    border: 2px solid #929396;
    border-radius: 1em;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.widget-isi{
    min-height: 150px;
}
.widget-isi h1{
    text-align:center;color: black;font-family: 'Lobster Two', cursive;
    font-size: 60px;
}
h5{
  text-align: center;
  vertical-align: middle;
    font-weight: 600;
}
.penampung-isi-wigdet{
    min-height: 100px;
    margin: 25px 0;
}
/*progressbar*/

.canvasjs-chart-credit{
  display: none;
}

.tooltip{ 
  position:relative;
  float:right;
}
.tooltip > .tooltip-inner {background-color: #000000; padding:5px 15px; color:rgb(230,230,230); font-weight:bold; font-size:15px;}
.popOver + .tooltip > .tooltip-arrow {    border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #333;}

section{
    margin: 0 auto 140px auto;
    padding: 20px;
}
/*.progress{
  border-radius:0;
  overflow:visible;
    border-radius: 1em;
    height: 40px;
    margin-bottom: 0;
}

.progress-bar{
   background:rgb(23,44,60); 
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
    border-radius: 1em;
}*/


.height-bar{
  height: 150px;
  padding-top: 50px;
}
.height-bar-1{
    height: 150px;
}
.bar-kotak{
    padding: 50px 15px;
}

@media (max-width: 768px){
    section{
        padding: 0;
    }
    .no-marpad-1,.mobile-no-marpad-1{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .widget-kotak{
        margin-bottom: 30px;
    }
    .border-widget{
        padding: 20px 0;
    }
    .border-widget span{
        margin-top: 10px;
    }
    .navbar-nav .open .dropdown-menu {
        padding-left: 38px;
    }
    .mobile-warna{
        color: #929396;
    }
    .size-footer{
        width: 90px;
        height: 60px;
    }
}
.field-error .control-label,
.field-error .help-block,
.field-error .form-control-feedback {
    color: #ff0039;
}

.field-success .control-label,
.field-success .help-block,
.field-success .form-control-feedback {
    color: #2780e3;
}

/*Tryout manager*/

.tryout-manage{
    border: 2px solid #929396;
    padding: 0;
}
.tryout-manage-box{
    border: 2px solid #929396;
}
.tryout-manage-box{
    border: 2px solid #929396;
}